/*REMOVE ON UMBRACO INSTALL*/
.testmenu {
	width: 100%;
	display: block;
	text-align: center;
	padding: 10px;
	background: #111111;

	select {
		width: 270px;
		font-size: 16px;
		padding: 10px 5px;
		margin-bottom: 0;
    background: $c-white;
	}
}

/*REMOVE END*/

@-ms-viewport {
  width: auto;
}

html, body {
	overflow-x: visible;
	-ms-overflow-style: auto !important;
}

body {
	@include font-size(1.6, 2.4);
	@include font-smoothing;
	font-family: $body-font;
}

img {
	max-width: 100%;
}

h1 {
	@include font-size(2.6, 3.6);
}
h2 {
	@include font-size(2.4, 3.2);
}
h3 {
	@include font-size(2.0, 2.8);
}
h4 {
	@include font-size(1.8, 2.6);
}

p,
ul li,
ol li {
	@include font-size(1.6, 2.4);
}

p {
	&.preamble {
		@include font-size(2.0, 2.8);
		@include font-smoothing;
	}
}

ul, ol {
}

ul {
	list-style:disc;
}

ol {
	list-style: decimal;
}

blockquote {
}

em {
	font-style: italic;
}

// MEDIA QUERIES
// -------------------------------
@media (min-width:$screen-sm){

}
