/*****
Reference to SMACSS - http://smacss.com/

NAMING CONVENTIONS:
c- : Color,
l- : Layout,
m- : Module,
f- : Form,
e- : Element,
*****/

//COLOURS
$c-title: #111;
$c-bodytext:#333;
$c-link: #ff0000;
$c-lightgreytext: #777777;

$c-white: #ffffff;
$c-black: #000000;

$c-lightgrey: #F3F3F2;
$c-mediumgrey:#575656;
$c-darkgrey: #111111;

$c-border: #DFDFDF;
$c-errorbg: #ffdcdc;

$c-mobilenavbk: #333;
$c-mobilenavtext: #fff;
$c-hamburger:#888;
